*:not[name='title']{
	font-family:"Times New Roman";	
}

/*remove header
header{
 display:flex;
 height:50px;
 width:100%;
 background-color:white;
 color:maroon;
 justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; 
}
*/

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-black);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0.2)
    ),
    url(https://awazo.com/photo/2017/10339-approach-1708DSC01867LRSQ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*main header*/


.intro-text{
	display:table-cell;
	background:rgba(0,0,0,0.7);
	padding:50px;
	width:100%;
	height:400px;
	vertical-align:middle;
}

.intro-text h1{
	font-size:3rem;
	font-family:sans-serif;
	color:darkred;
	margin:0;
	
}
.intro-text h2{
	
	color:grey;
	line-height:3rem;
	margin:0;
}
.description{
	font-style:italic;
	color:white;
	letter-spacing:3px;
	font-size:1.5rem;	
}

.content a:link{
	color: #ffcc99;
}

.content a:visited{
	color:grey;
}

/*submit button*/
.btn{
	margin-top:1rem;
	display:inline-block;
	padding:0.8rem 0.6rem;
	border:none;
	font-size:1.2rem;
	font-family:sans-serif;
	border-radius:5px;
	color: black;
	margin-bottom:1rem;
	text-decoration:none;
	letter-spacing:0.1rem;
}

.grey{
	background-color:grey;
	
}

.grey:hover{
	background-color:darkgrey;
	color:#fff;
	
}

/*navigation bar

nav {
  width: 75%;
  max-width: 500px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  overflow:hidden;
}


nav > ul > li {
  color: black;
  margin: 0 0;
  padding: 0;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
  display:block;
}

/*navigation bar ended*/

/*table column styling*/
.container .box{
	width:100%;
	display:table;
}

.container .box .box-row{
	display:table-row;
}
.container .box .box-cell{
	display:table-cell;
	width:50%;
	padding:50px;
	text-align:justify;
	line-height:1.8;
	vertical-align:middle;
	color:white;
	background:rgba(0,0,0,0.5);
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background:rgba(0,0,0,0.9);
  color: #544F4E;
  cursor: pointer;
  padding:25px 50px 25px 50px;
  width: 100%;
  border: none;
  text-align: justify;
  outline: none;
  font-size: 1.2rem;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
  
  
}

/* Style the collapsible content. Note: hidden by default */
.content {
	
  
  display: none;
  overflow: hidden;
  background:rgba(0,0,0,0.7);
  text-align:justify;
  padding:40px;
  line-height:1.8;
  color:white;
  font-size:1.2rem;
  
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}




/*footer*/
.masttail {
    margin: 0px;
}

.img-sponsor {
    background-color: none;
    opacity: 0.9;
    filter: alpha(opacity=0);
    max-width: 100%;
    width: 150px;
	height:150px;
	
}


.container .box .logo{
	display:table-cell;
	width:50%;
	padding:50px;
	background:rgba(0,0,0,0.5);
	
	
}
.em{
 color:orange;
}
	